sudo: required
dist: trusty
language: go
install:
  - npm install -g dredd
  - bundle install
go_import_path: github.com/snikch/goodman
script:
  - go test github.com/snikch/goodman/{,/transaction,/hooks}
  - bundle exec cucumber
